/* line 1, ../compass/sass/style.scss */
#poster-grid img {
  width: 100%;
}

/* line 5, ../compass/sass/style.scss */
.col-sm-3 {
  width: 23%;
}

/* line 9, ../compass/sass/style.scss */
#genre-filters input {
  margin: 5px;
}

/* line 13, ../compass/sass/style.scss */
.poster img {
  padding-bottom: 10px;
}

/* typeahead styling below */
/* line 18, ../compass/sass/style.scss */
.tt-input, .tt-hint {
  margin-top: 5px;
}

/* line 22, ../compass/sass/style.scss */
.tt-hint {
  color: #999;
}

/* line 26, ../compass/sass/style.scss */
.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 37, ../compass/sass/style.scss */
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
