/* line 1, ../compass/sass/style.scss */
.header {
  background-color: #801515;
  color: #fff;
  padding-bottom: 10px;
}

/* line 7, ../compass/sass/style.scss */
.content-wrapper {
  background-color: #fafafa;
  padding-top: 10px;
}

/* line 12, ../compass/sass/style.scss */
body {
  color: #424242;
}

/* line 16, ../compass/sass/style.scss */
#poster-grid img {
  width: 100%;
}

/* line 20, ../compass/sass/style.scss */
.col-sm-3 {
  width: 23%;
}

/* line 24, ../compass/sass/style.scss */
#genre-filters input {
  margin: 5px;
}

/* line 28, ../compass/sass/style.scss */
.poster img {
  padding-bottom: 10px;
}

/* typeahead styling below */
/* line 33, ../compass/sass/style.scss */
.tt-input, .tt-hint {
  margin-top: 5px;
}

/* line 37, ../compass/sass/style.scss */
.tt-hint {
  color: #999;
}

/* line 41, ../compass/sass/style.scss */
.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 52, ../compass/sass/style.scss */
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
